
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
:root {
  --bck-color-primary: #ff2600;
  --bck-color-secondary: #000000;
  --color-primary: #ffff;
  --color-secondary: #df4a30;
  --color-terciary: #ffb700;
  --color-4: #b0c90c54;
}
#choose-text {
  background-color: transparent;
  color: var(--color-terciary);
  font-size: 3rem;
  font-weight: bold;
  font-family: "Tilt Neon", sans-serif;
  margin-top: 5rem;
  margin-left: 5rem;
  transform: scale(1);
  animation: pulse 1s infinite;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.container > h2 {
  letter-spacing: 0.8rem;
  font-family: "Bungee Spice", sans-serif;
  font-size: 3em;
  max-width: 800px;
  text-align: center;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
@media (max-width: 420px) {
  .container > h2 {
    letter-spacing: 0.8rem;
    font-size: 2em;
  }
}