@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
:root {
  --bck-color-primary: #ff2600;
  --bck-color-secondary: #000000;
  --color-primary: #ffff;
  --color-secondary: #df4a30;
  --color-terciary: #ffb700;
  --color-4: #b0c90c54;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tilt Neon", sans-serif;
}

body,
header,
.game-container,
#disordered {
  background-color:cadetblue;
  background-size: cover;
  transition: 0.7s ease;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body{
  min-height: 100dvh;
  position: relative;
}